@font-face {
  font-family: "NotoSerifMedium";
  src: url("../fonts/NotoSerif-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoMedium";
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

:root {
    --primary-family: "NotoSerifMedium";
    --primary-header-0-size: 28px;
    --primary-header-1-size: 24px;
    --primary-header-2-size: 22px;
    --primary-header-3-size: 20px;
    --primary-header-4-size: 18px;
    --primary-header-5-size: 16px;
    --primary-font-size: 15px; /* Light theme background */
    --primary-padding-common: 10px;
    --primary-linker-color: #5488e8;
    --primary-theme-color: #6767CE; /* Light theme text */
    --primary-theme-color-transparent: #6767CE; /* Light theme text */
    --secondary-theme-color: #498789; /* Accent color */
    --tertiary-theme-color: #ffae0090; /* Light theme text */
    --quaternary-theme-color: #8b1a8f90; /* Light theme text */
    --soft-gray-theme-color: #E2E2E2; /* Accent color */
    --code-font-family: "JetBrains Mono";
    --md-bg-light-color: #d3d3e9;
    --md-bg-dark-color: #020226;
    /* --code-font-family: 'Noto Sans Mono Light'; */
    --md-text-font: "NotoSerifMedium";
    --md-code-font: "JetBrains Mono";
    /* Fix font light be too bright by opacity */
    --tertiary-theme-color: #ffae00F0;
}

[data-md-color-primary=indigo] {
    --md-primary-fg-color: #383d5b;
}

/* Light theme */
[data-md-color-scheme=default] {
  --md-default-bg-color: #e4e4e4;
  --custom-color-theme-h1--theme: #00276a;
  --custom-color-theme-h2--theme: #00276a;
  --custom-color-theme-h3--theme: #005e7b;
  --custom-color-theme-h4--theme: #ff5e00;
  --custom-color-theme-h5--theme: #ff2200;
  --custom-color-theme-h6--theme: #004b55;
  --md-code-bg-color: #d9d9d9;
  --custom-linker-color: #0e5ec3;
}
/* Dark theme */
[data-md-color-scheme=slate] {
  --md-default-bg-color: #1e1e1e;
  --custom-color-theme-h1--theme: #6182ff;
  --custom-color-theme-h2--theme: #4f95ff;
  --custom-color-theme-h3--theme: #45a8bb;
  --custom-color-theme-h4--theme: #dba022;
  --custom-color-theme-h5--theme: #dba022;
  --custom-color-theme-h6--theme: #f990ff;
  --custom-linker-color: #689ad6;
}

/* Full width = max-width: initial; or try 100% or 1280px or ...  */
/* .md-grid {
  max-width: initial;
} */

.md-typeset pre>code {
  font-family: var(--code-font-family);
  font-size: small;
}

.md-main__inner.md-grid.full-width {
  max-width: initial;
}

.md-tabs {
  background-color: #434a74;
}
.md-footer {
  background-color: #434a74;
}
.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
  font-weight: bold;
  text-decoration: underline;
}

.md-typeset a {
  color: var(--custom-linker-color);
}
.md-typeset h1 {
  font-weight: bold;
  text-align: center;
  color: var(--custom-color-theme-h1--theme);
}
.md-typeset h2 {
  color: #808080;
  font-weight: bold;
  color: var(--custom-color-theme-h2--theme);
}
.md-typeset h3 {
    font-weight: bold;
    color: var(--custom-color-theme-h3--theme);
}
.md-typeset h4 {
    font-weight: bold;
    color: var(--custom-color-theme-h4--theme);
}
.md-typeset h5 {
    color: var(--custom-color-theme-h5--theme);
}
.md-typeset h6 {
    font-style: italic;
    color: var(--custom-color-theme-h6--theme);
}

mark.green {
    color: #020226;
    background-color: #81ff92!important;
}
mark.red {
    color: #020226;
    background-color: #ff8585!important;
}
mark.blue {
    color: #020226;
    background-color: rgb(109, 218, 255)!important;
}

.center-table {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.center-table table {
  margin: 0 auto;
}

/* Change table size */

th {
  background-color: #5188ff5b;
  font-size: unset;
}

td {
  font-size: small;
}

div.grid-container-4-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    padding: 0px;
    height: fit-content;
    box-sizing: border-box;
}

/* center table */
.md-typeset .md-typeset__table {
    display: block;
}
.md-typeset__table table:not([class]) {
    display: table;
}